<!DOCTYPE html>
<html>
  <head>
    <title>Dave O's Blog - INSERT_TITLE_HERE</title>
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <h1>INSERT_TITLE_HERE</h1>
      <hr />
      <nav>
        <a href="/" alt="home">Home</a>
      </nav>
      <hr />
    </header>
    <main>INSERT_CONTENT_HERE</main>
    <footer>
      <hr />
      <p>Copyright 2022 Dave Orpen</p>
    </footer>
  </body>
</html>
